<div class="container">
    <div class="content" *ngIf="item !== null">
        <img src="assets/products/{{item.category}}/{{item.id}}.png" alt="">
        <div class="details">
            <p class="title">{{item.name}}</p>
            <p>by: {{item.store}}</p>
            <p class="description">{{item.description}}</p>
            <ul class="rating">
                <li *ngFor="let star of numSequence(item.rating)">
                    <span class="material-symbols-outlined">
                        star_rate
                    </span>
                </li>
                <p>{{item.orders}} orders</p>
            </ul>
            <p class="price">{{item.price | currency}}</p>
            <div class="variant">
                <p>SELECT {{item.category === gadgetType ? 'COLOR' : 'SIZE'}}: </p>
                <ul>
                    <li [ngClass]="{selected: selectedItemVariation === iv}" *ngFor="let iv of item.variations"
                        (click)="onSelectVariation(iv)">{{iv}}</li>
                </ul>
            </div>
            <div class="buttons">
                <button [ngClass]="{disabled: !hasSelectedVariation}" [disabled]="!hasSelectedVariation"
                    class="cart-button" (click)="addToCart()">
                    ADD TO CART
                </button>
                <button [ngClass]="{disabled: !hasSelectedVariation}" [disabled]="!hasSelectedVariation"
                    class="buy-button">BUY NOW</button>
            </div>
        </div>
    </div>
</div>