<div class="container">
    <div class="content">
        <p class="info"><strong>{{productItems.length}}</strong> items for {{category}}</p>
        <div class="products">
            <p *ngIf="productItems.length === 0">Loading...</p>
            <div class="product-item" *ngFor="let item of productItems">
                <div class="figure">
                    <img src="assets/products/{{item.category}}/{{item.id}}.png" alt="product" />
                </div>
                <p class="name">{{item.name}}</p>
                <div class="label">
                    <p>{{item.price}}</p>
                    <ul class="rating">
                        <li *ngFor="let star of numSequence(item.rating)">
                            <span class="material-symbols-outlined">
                                star_rate
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>