<main>
    <section class="hero">
        <h1>Shop Smarter, Not Harder</h1>
        <p>Discover curated products, enjoy hassle-free shopping, and get fast delivery.</p>
        <button class="cta-button" (click)="startShopping()">Let's go shopping</button>
    </section>

    <section class="promo">
        <img src="assets/products/bannerwomens.png" alt="">
    </section>

    <section class="features">
        <div class="feature">
            <span class="material-symbols-outlined feature-icon">
                search
            </span>
            <h2>Easy Search</h2>
            <p>Find exactly what you need in seconds.</p>
        </div>
        <div class="feature">
            <span class="material-symbols-outlined feature-icon">
                local_shipping
            </span>
            <h2>Fast Delivery</h2>
            <p>Get your items delivered in no time.</p>
        </div>
        <div class="feature">
            <span class="material-symbols-outlined feature-icon">
                security
            </span>
            <h2>Secure Payments</h2>
            <p>Shop with confidence using our secure payment system.</p>
        </div>
    </section>
</main>